<div class="show-page">
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon-white">
  <%= link_to "/", class: "navbar-brand" do %>
    <span class="nav-item logo logo-black">Lingua</span>
  <% end %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Search classes", "/", class: "nav-link nav-item-black" %>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item dropdown d-flex align-content-center">
          <div class="d-flex align-items-center"><%= image_tag "https://www.tuktukdesign.com/wp-content/uploads/2020/01/profile-icon-vector.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "My account", users_dashboard_path, class: "dropdown-item" %>
            <%= link_to "Logout", destroy_user_session_path, class: "dropdown-item", method: :delete %>
          </div>
        </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Log in", "/users/sign_in", class: "nav-link nav-item-black" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign up", "/users/sign_up", class: "nav-link nav-item-black" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

  <div class="teacher-card card-category-large">
    <div class="teacher-background">
      <% if @teacher.photo.attached? %>
        <%= cl_image_tag @teacher.photo.key, height: 500, width: 400, crop: :fill, class: "teacher-avatar" %>
      <% else %>
        <%= image_tag 'default-avatar.svg', class: "teacher-avatar" %>
      <% end %>
      <div class="teacher-info">
        <h1><b><%= @teacher.first_name %> <%= @teacher.last_name %></b></h1>
        <h3><%= @teacher.location %></h3>
        <h6><%= @rating %> ⭐</h6>
        <br>
        <br>
        <h6><b>Qualifications</b>: <% @teacher.user_qualifications.each do |qualification| %>
          <%= "#{qualification.qualification.title} | " %>
          <% end %>
        teacher</h6>
      </div>
      <div class = "teacher-flags">
        <% if @teacher.languages.empty? %>
          <%= image_tag 'flags/ca.png', class: "teacher-flag" %>
        <% else %>
          <% @teacher.languages.each do |language|   %>
          <%= image_tag language.flag, class: "teacher-flag" %>
          <% end %>
        <% end %>
        <!-- <img class="teacher-flag" src="<%= @teacher.languages.empty? ? asset_path('flags/ca.png') : asset_path(@teacher.languages.first.flag) %>"> -->
      </div>
    </div>
    <div class="teacher-bio">
      <h3>Biography</h3>
        <p><%= @teacher.biography %></p>
    </div>
    <div class="teacher-actions">
      <div class="reviews">
        <h3>Recent Reviews</h3>
        <p>"Great teacher!" (Jan. 2020)</p>
        <br>
        <p>“Really friendly. Good to learn from, but also nice to talk with.” (Sept. 2019)</p>
        <br>
      </div>
      <div class="lessons-form">
        <% if !current_user || !current_user.is_teacher %>
          <h3>Book a Lesson</h3>
            <%= simple_form_for [@lesson] do |f| %>
              <%= f.input :student_id, as: :hidden, input_html: { value: @user.id } %>
              <%= f.input :teacher_id, as: :hidden, input_html: { value: @teacher.id } %>
              <%= f.input :date, as: :string, input_html: { class: 'datepicker'} %>
              <%= f.input :location, input_html: { class: "auto-address" } %>
              <%= f.input :language_id, collection: @teacher.languages %>
              <div class="teacher-buttons">
                <%= link_to "Back to Teacher List", "/", class: "btn btn-ghost" %>
                <%= f.button :submit, class: "btn btn-black" %>
              </div>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
