<div class="show-page">
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon-white">
  <%= link_to "/", class: "navbar-brand" do %>
    <span class="nav-item logo logo-black">Lingua</span>
  <% end %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Search classes", "/", class: "nav-link nav-item-black" %>
      </li>
      <li class="nav-item dropdown">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "My account", users_dashboard_path, class: "dropdown-item" %>
          <%= link_to "Logout", destroy_user_session_path, class: "dropdown-item", method: :delete %>
        </div>
      </li>
    </ul>
  </div>
</div>
  <div class="teacher-card card-category">
    <div class="teacher-background">
      <img class="teacher-avatar" src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80">
      <div class="teacher-info">
        <h1><b><%= @teacher.first_name %> <%= @teacher.last_name %></b></h1>
        <h3><%= @teacher.location %></h3>
        <h6><%= @rating %> ⭐</h6>
        <br>
        <br>
        <br>
        <h6>Qualification #1. Qualification #2. Qualification #3. Qualification #4. Qualification #5. Qualification #6. Qualification #7.</h6>
      </div>
      <img class="teacher-flag" src="https://images.pexels.com/photos/344775/pexels-photo-344775.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
    </div>
    <div class="teacher-bio">
      <h3>Biography</h3>
        <p><%= @teacher.biography %></p>
    </div>
    <div class="teacher-actions">
      <div class="reviews">
        <h3>Recent Reviews</h3>
        <p>"Great teacher!" (Jan. 2020)</p>
        <br>
        <p>“Really friendly. Good to learn from, but also nice to talk with.” (Sept. 2019)</p>
        <br>
      </div>
      <div class="lessons-form">
        <h3>Book a Lesson</h3>
          <%= simple_form_for [@lesson] do |f| %>
            <%= f.input :student_id, as: :hidden, input_html: { value: @user.id } %>
            <%= f.input :teacher_id, as: :hidden, input_html: { value: @teacher.id } %>
            <%= f.input :date %>
            <%= f.input :location %>
            <div class="teacher-buttons">
              <%= link_to "Back to Teacher List", "/", class: "btn btn-ghost" %>
              <%= f.button :submit, class: "btn btn-black" %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
