<div class='container'>
<%= simple_form_for [@lesson, @review] do |f| %>
   <div class="form-group">
      <%= f.label :content %>
      <%= f.text_field :content, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :rating %>
      <%= select(:review, :rating, %i[1 2 3 4 5]) %>
    </div>
  <%= f.submit "add a review", class: "btn btn-primary" %>
<% end %>
</div>
