<body>
  <div class="review-background">
    <div class='container'>
      <div class="log-form">
        <h1 class="text-center">Post a New Review</h1>
        <%= simple_form_for [@lesson, @review] do |f| %>

        <%= f.input :content, input_html: { class: 'form-control' } %>
        <%= f.input :rating, input_html: { min: '0', max: '5', class: 'form-control' } %>
        <div class="teacher-buttons">
          <%= link_to "Back to Dashboard", users_dashboard_path, class: "btn btn-ghost" %>
          <%= f.submit "Add a Review", class: "btn btn-black" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</body>
